@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray: hsl(0, 0%, 49%);
    --border: hsl(240 3.7% 20%);
    --primary: hsl(215, 20%, 65%);
    --muted-primary: hsl(214, 32%, 91%);
    --background: hsl(0, 0%, 10%);
    --muted-foreground: hsl(240 5% 64.9%);
    --secondary-background: hsl(240, 10%, 4%);
  }

  main {
    @apply flex items-center justify-center h-screen w-full overflow-hidden bg-background;
  } 
}
